Select Query

In [ ]:
String hql = "FROM Student"; //student is table
Query<Student> query = session.createQuery(hql);
List<Student> students = query.list();

Select with Conditions (WHERE Clause)

In [ ]:
String hql = "FROM Student WHERE course = :courseName";
Query<Student> query = session.createQuery(hql);
query.setParameter("courseName", "Computer Science");
List<Student> students = query.list();

Ordering Results (ORDER BY)

In [ ]:
String hql = "FROM Student ORDER BY name ASC";
Query<Student> query = session.createQuery(hql);
List<Student> students = query.list();

SELECT Specific Column

In [ ]:
String hql = "SELECT name, course FROM Student";
Query<Object[]> query = session.createQuery(hql);
List<Object[]> results = query.list();
for (Object[] row : results) {
    System.out.println("Name: " + row[0] + ", Course: " + row[1]);
}

Aggregate Functions

In [ ]:
String hql = "SELECT count(*) FROM Student";
Query<Long> query = session.createQuery(hql);
Long count = query.uniqueResult();
System.out.println("Total number of students: " + count);

BULK OPERATION

In [ ]:
String hql = "UPDATE Student SET course = :courseName WHERE course = :oldCourse";
Query query = session.createQuery(hql);
query.setParameter("courseName", "Mathematics");
query.setParameter("oldCourse", "Physics");
int result = query.executeUpdate();
System.out.println(result + " students updated.");

Subqueries

In [ ]:
String hql = "FROM Student s WHERE s.id IN (SELECT c.student.id FROM Course c WHERE c.courseName = :courseName)";
Query<Student> query = session.createQuery(hql);
query.setParameter("courseName", "Computer Science");
List<Student> students = query.list();